.App {
  text-align: center;
}
body {
  font-family: "Work Sans", sans-serif;
}
nav {
  background-color: #ffdf00;
  height: 5vh;
  display: flex !important;
  justify-content: space-evenly;
  font-size: 2vh;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  /* background-image: url("./components/images/blank-composition-data-373076.jpg"); */
}
/* html {
  background-image: url("./components/images/blank-composition-data-373076.jpg");
} */
.row {
  display: flex;
}
.ideasContainer {
  display: flex;
  flex-direction: column;
}
.eachIdeas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
h5 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
}
